* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    background: linear-gradient(to right, #ffffff, #c5c5c5);
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #5e5e5e;
}

.navlinks a {
    color: #313131;
    padding-left: 10px;
    text-decoration: none;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 70px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.about img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c2d2e;
}

.about-text p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.team {
    margin-top: 3rem;
}

.team h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2c2d2e;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.member {
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member h3 {
    margin: 1rem 0 0.5rem;
    color: #333;
}

.member p {
    font-size: 0.9rem;
    color: #666;
}

footer {
    margin-top: 3rem;
    background-color: #5e5e5e;
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 0.9rem;
    color: #777;
}